/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/	
/* los estilos para el menu, debe tener un display block para que quede aliniado*/
*{
margin: 0;
padding: 0;
font-family: ‘Raleway’, sans-serif;

}

header{
	background-color: #E54E79;
	padding: 0px;
	width: 100%;
	position: fixed;
	z-index: 1000;


}

ul{
	list-style: none;
	margin:0;
	overflow: hidden;
	background-color: #E54E79;
	float: right;
	padding: 0px;


}

ul li{
	display: inline-block;
}
ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 30px;
	text-decoration: none;
	padding-right: 100px;
	

}

li a:hover, .dropdown:hover, .dropbtn:hover{
	background-color: #E56385;
	color: #EDE9E2;
}

.logo{
	width: 80px;
	margin-left: 30px;
	margin-top: 10px;
}


.celu{
	width: 100%;
	position: fixed;

}


.registro{
	width: 400px;
	height: 250px;
	background: #EDE9E2;
	position: absolute;
	z-index: 1;
	top: 138px;
    left: 800px;
    padding: 30px;
    text-align: left;
}
h1{
	color: #00B2A9;
}

p{
	color:grey;
}
.boton{
	background-color:#E54E79;
	padding: 10px;
	border-radius: 10px 10px;
	width: 250px;
	height: 50px;
}
.become{
color: #EDE9E2;
font-size: 20px;
float: left;

}
.corazon{
	width: 10%;
	float: right;
	padding left: 10px;
}
.numerocelu{
	width: 300px;
	height: 20px;
	background-color: #EDE9E2;

}

/*aca va el tablero*/

.play{
	width: 100%;
	height: 100px;
	background: #EDE9E2;
	position: absolute;
	top: 100px;
    left: 0px;
    z-index: 1;
    text-align: center;


}
.texplay{
	color:grey;
	font-size: 5em;
}

.tablero {
	width: 100%;
	height: 700px;
	background: #00B2A9;
	position: absolute;
	top: 700px;
    left: 0px;
	
}
/*aca la caja para las coordenadas*/
.autos{
	width: 80%;
	height: 300px;
	background: #EDE9E2;
	position: absolute;
	z-index: 1;
	top: 1000px;
    left: 100px;

}


.coor1{
	padding: 10px;
	width: 300px;
	height: 20px;
	margin-top: 50px;
	margin-left:0%;
}

.auto1{
	width: 5%;
	margin-left:10%;
}
.coor2{
	padding: 10px;
	width: 300px;
	height: 20px;
	margin-top: 50px;
	margin-left:0%;
}

.auto2{
	width: 5%;
	margin-left:5%;
}

.star{
	background-color:#00B2A9;
	padding: 20px;
	border-radius: 10px 10px;
	width: 800px;
	height: 50px;
	margin-top: 50px;
	margin-left:100px;
}
.x{
color: #EDE9E2;
font-size: 20px;

}

#tablero{
  border: 5px solid #900C3F;
  z-index: 1;
  position: relative;
  width: 1050px;
  top: 1000px;
  left: 100px;
}
.casilla{
  box-sizing: border-box;
  display:inline-block;
  background-color: #581845;
  color: #581845;
  padding: 10px;
  font-family: sans-serif;
  width: 10%;
  text-align: center;
  border: 5px #900C3F solid;
}

/*footer*/

footer{
	width: 100%;
	height:120px;
	background-color: grey;
	color:;
	position: absolute;
	z-index: 1000;
	top: 1400px;

}

.acerca{
	color: #EDE9E2;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;		

}


.iconos{
	color: #EDE9E2;
	font-size: 15px;
	margin-top: 5px;
	margin-left: 800px;


}

.you{
	width: 8%;

}
.face{
	width: 8%;

}

.pajarito{
	width: 8%;;

}

.lin{
	width: 8%;;

}