/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/	
/* los estilos para el menu, debe tener un display block para que quede aliniado*/
*{
margin: 0;
padding: 0;

}

header{
	background-color: #E54E79;
	padding: 20px;

}

ul{
	list-style: none;
	margin:0;
	overflow: hidden;
	background-color: #E54E79;
	font-family: ‘Raleway’, sans-serif;
	float: right;
	padding: 0px;
}

ul li{
	display: inline-block;
}
ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 30px;
	text-decoration: none;

}

li a:hover, .dropdown:hover, .dropbtn:hover{
	background-color: #E56385;
	color: #EDE9E2;
}

.logo{
	width: 80px;
	margin-left: 30px;
}


.celu{
	width: 100%;
	position: fixed;

}

.registro{
	width: 400px;
	height: 200px;
	background: #EDE9E2;
	position: absolute;
	z-index: 1;
	top: 138px;
    left: 800px;
}


